__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

venv/
.venv/

.git/
.gitignore
.idea/
.vscode/
*.md
.pytest_cache/
.coverage
htmlcov/
*.log
logs/
*.sqlite
*.sqlite3
*.db
